table
{border-color: springgreen;
    border-style: solid;
    box-sizing: border-box;
    padding: 20px;
    margin: 30%;
}
h1{
    color: red;
}
h2{
    color: yellow;
}
h3{
    color: blue;
}
ul{
    background-color: rgb(59, 59, 6);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
#id-test {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blueviolet;
}
.class-2 {
    color: cyan;
    font-size: larger;
}
